.feed-container {
  flex: 2;
  height: 100%;
}

.home-title {
  border-bottom: 1px solid #E8F5FD;
  text-align: start;
  padding: 10px;
  margin: 0;
}
form {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.newTweet-input {
  height: 40px;
  margin: 10px;
  background-color:  #E8F5FD;
  border-radius: 25px;
  border: none;
  min-width: 400px;
}

.submitButton {
  border-radius: 25px;
  background-color: #1DA1F2;
  border: none;
  color: white;
  font-weight: 900;
  height: 40px;
  width: 100px;
  margin: 10px;
}

.tweet-container {
  border-bottom: 5px solid #E8F5FD;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.post-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  border-bottom: 1px solid #E8F5FD;
  padding: 10px;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-header, .post-body {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.post-avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 10px;
}

.post-displayName {
  font-size: 15;
  font-weight: 700;
}