.sidebar-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  border-right: 1px solid lightgrey;
  padding: 10px 25px 10px 25px;
}

.twitter-icon {
  margin: 5px;
  color: #1DA1F2;

}

.sidebarOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.sidebarOptions:hover {
  color: #1DA1F2;
  cursor: pointer;
}

svg {
  margin-right: 15px;
}

.tweet-btn {
  background-color:#1DA1F2;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-weight: 900;
}