.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  min-width: 200px;
  padding: 15px;
}

.twitter-icon {
  padding: 5px;
}

.sidebarOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

svg {
  margin-right: 15px;
}